<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h6 class="mb-0">Django CRUDアプリ</h6>
        <br>

        <!-- ログイン済ユーザー -->
        {% if request.user.is_authenticated %}
            <span class="mb-0 text-start">ようこそ{{ user.get_username }}</span>

            <div class="d-flex">

                <!-- メニュー -->
                <a href="{% url 'home' %}">ホーム</a>
                <a href="{% url 'comment' %}">コメント</a>                
    
                {% comment %}
                <a href="{% url 'home' %}">相談</a>
                <a href="{% url 'profile' %}">マイプロフィール</a>
                {% endcomment %}

                
                <!-- ログアウトボタン -->
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button>ログアウト</button>
                </form>

            </div>

        <!-- 未ログインユーザー -->
        {% else %}
            <a href="#">未ログイン状態。ログインしてください。</a>
        {% endif %}
        <br>
    </header>

    <!-- ページのコンテンツ -->
    {% block content %}
    {% endblock %} 

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
