{% extends "base.html" %}


{% block title %}コメントリスト画面{% endblock %}


{% block content %}


   <br>
   <br>
   


   <div>      
      <a href="{% url 'comment_create' %}" class="btn btn-primary">新規作成</a>
   </div>
      
   <div>
      <table border="1" class="table table-bordered">
         <tr>
               <td>投稿時刻</td>
               <td>コメントの内容</td>
               <td>編集、削除</td>
         </tr>
         
         <!-- すべてのオブジェクトに対して繰り返し -->
         {% for comment in object_list %}
         <tr>
               <td>{{ comment.datetime }}</td>
               
               <td>{{ comment.content }} </td>          

               <td>
                  {% comment %}
                  <a href="{% url 'comment_update' pk=comment.pk %}">編集</a>
                  <a href="{% url 'comment_delete' pk=comment.pk %}">削除</a>
                  {% endcomment %}
               </td>
         </tr>
         {% endfor %}  

      </table>
      
   </div>

   
   {% comment %}
   {% endcomment %}

{% endblock %}