{% extends "base.html" %}


{% block title %}コメントリスト画面{% endblock %}


{% block content %}


   <br>
   <br>
   


   <div>      
      <a href="{% url 'comment_create' %}" class="btn btn-primary mymargin ">新規作成</a>
   </div>
   <div>
      {% comment %}href="{% url 'home' %}"{% endcomment %}
      <a  class="btn btn-primary mymargin" id="comment-update">編集</a>
   </div>
   <div>      
      <a  class="btn btn-primary mymargin" id="comment-delete">削除</a>
   </div>
      
   <div>
      <div class=" mypadding">
         <table border="1" class="table table-bordered">
            
            <tr>
                  <td></td>
                  <td>投稿時刻</td>
                  <td>コメントの内容</td>
                  <td>身体の調子</td>
                  <td>メンタルの調子</td>
            </tr>
            
            <!-- すべてのオブジェクトに対して繰り返し -->
            {% for comment in object_list %}
            <tr>
               
                  <td>
                     <input type="radio" name="comment" value="{{ comment.pk }}">
                  </td>
               
                  <td>{{ comment.datetime }}</td>
                  
                  <td>{{ comment.content }} </td>     

                  <td>{{ comment.get_physical_health_display }}</td>
                  
                  <td>{{ comment.get_mental_health_display }} </td>          
   
   
            </tr>
            {% endfor %}  
   
         </table>
      </div>      
   </div>

   

   <script>
      (() => {
    
        // コメント編集ボタン
        document.getElementById("comment-update").onclick = function() {
          setFormURL(this, 'update');
        };
    
        // コメント削除ボタン
        document.getElementById("comment-delete").onclick = function() {
          setFormURL(this, 'delete');
        };

        
        // ボタンにフォームURLをセットする関数。
        const setFormURL = (button, action) => {
          const checkedRadio = document.querySelector('input[name="comment"]:checked');
          
          if (checkedRadio) {
            // ラジオボタンが選択されていれば、href属性を自身に付与。
            const pk = checkedRadio.value;
            button.setAttribute("href", `/comment/${pk}/${action}/`);
          } else {
            // 選択されていなければ、メッセージ。
            console.log('レコードが選択されていません。');
          }

        };



      })();
    </script>

   <style>
      .mymargin {
         margin-top: 2px;  /* 上の要素との間隔 */
         margin-bottom: 2px;  /* 下の要素との間隔 */
         margin-left: 2%;  /* 左の要素との間隔 */
      }
      
      .mypadding {
         padding-left: 1%;  /* 左の余白 */
         padding-right: 1%;  /* 右の余白 */
      }
   </style>

   
   {% comment %}
   {% endcomment %}

{% endblock %}