{% extends "base.html" %}


{% block title %}コメント登録画面{% endblock %}


{% block content %}

<div class="mypadding">
   <!-- コメント作成フォーム -->
   <form method="post">

      {% csrf_token %}

      <br>
      <label >今日の日付:</label>
      <br>
      {{form.datetime}}
      
      <br>
      <br>
      
      <label>今日の忙しさ:</label>
      <div class="d-flex"> 
         {% for radio in form.busy %}
            <div class="mr-3">
               {{ radio.tag }}
               <label>{{ radio.choice_label }}</label>
            </div>
         {% endfor %}
      </div>

      <br>
      
      <label >身体の調子:</label>
      <div class="d-flex"> 
         {% for radio in form.physical_health %}
            <div class="mr-3">
               {{ radio.tag }}
               <label>{{ radio.choice_label }}</label>
            </div>
         {% endfor %}
      </div>

      <br>
      
      <label>メンタルの調子:</label>
      <div class="d-flex"> 
         {% for radio in form.mental_health %}
            <div class="mr-3">
               {{ radio.tag }}
               <label>{{ radio.choice_label }}</label>
            </div>
         {% endfor %}
      </div>

      <br>
      
      <label >今日はどんな日？:</label>
      <br>
      {{form.content}}


      <br>
      <a href="{% url 'comment' %}">戻る</a>
      <button>登録</button>

   </form>

</div>


   <style>
      
      .mypadding {
         padding-left: 1%;  /* 左の余白 */
      }
   </style>
   



{% endblock %}